*{
    box-sizing: border-box;
}
body{
    background: url(https://cdn.culture.ru/images/556452d0-5686-5508-b490-24dbb5d9a6a9) no-repeat center center/cover fixed;
}
.wrap{
height: 200px;
padding: 25px;
}
.gradient
{
    background: url(https://puzzleit.ru/files/puzzles/10/9566/_background.jpg) no-repeat center center/cover;
    height: 500px;
    width: 50%;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg,
    #b3ff00 10px, #b3ff00 10px,
    transparent 10px, transparent 20px,
    #ff0800 20px, #ff0800 20px, #ff0800 30px,
    transparent 30px, transparent 40px);
    margin: 0 auto;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0);

}
p{
    margin: 25px;
    text-align: center;
    font-size: 24px;
}
.gradient:hover{
    background: repeating-linear-gradient(white, white);
    color:black;
}
h1{
    color: white;
    text-align: center;
    font-size: 120px;
    padding-top: 10px;
    text-shadow: 
    -1px -1px rgb(131, 190, 255),
    1px 1px rgb(0, 174, 255),
    2px 2px rgb(0, 119, 255),
    3px 3px rgb(0, 110, 255),
    4px 4px rgb(0, 60, 255),
    4px 4px rgb(4, 0, 255),
    4px 4px rgb(3, 0, 255);
}