*{
    box-sizing: border-box;
}
body{
    background: url(https://i.pinimg.com/originals/e5/10/8c/e5108c6b7c7dc1db9315577e4747400d.jpg) no-repeat center center/cover fixed;

}
.wrap{
    height: 200px;
    padding: 25px;
}
.gradient{
    background: url(https://i.pinimg.com/originals/2d/e5/59/2de55927b757aa7bed36958f3820f643.jpg) no-repeat center center;
    height: 500px;
    width: 50%;
    border: 10px solid transparent;
    border-image: 10 repeating-linear-gradient(45deg, rgb(255, 0, 0), rgb(0, 13, 255)10px,transparent 10px, transparent 20px, rgb(255, 8, 0) 20px, rgb(255, 0, 0) 3px,rgb(30, 255, 0) 40px);
    margin: 0 auto;
    margin-top: 10%;
    color: rgba(0, 0, 0, 0);
}
p{
    margin: 25px;
    text-align:left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.gradient:hover{
    background: url(https://i.pinimg.com/originals/30/e3/28/30e32808da6357565b23ec9146548d5c.jpg) no-repeat center center/cover fixed;
    color: rgb(0, 0, 0);
    font-weight:bolder;
}
h1{
    color: white;
    text-align: center;
    font-size: 120px;
    padding-top: 10px;
    text-shadow:
    -2px -2px rgb(254, 77, 77),
    1px 1px rgb(0, 150, 255),
    2px 2px rgb(0, 120, 255),
    3px 3px rgb(0, 100, 255),
    4px 4px rgb(0, 80, 255),
    5px 5px rgb(0, 50, 255);
}
